# compiled files are platform dependant so no point including them!
/testing
/hstring.o

#valgrind's garbage
/vgcore.53497
/vgcore.88619
/vgcore.91125
/vgcore.91125
/vgcore.91779
/vgcore.92149
/vgcore.92320